<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Welcome to my project</h1>
        <h2>This project about usage Data Base in web-application in java</h2>
        <h3>Manage your restaurant's data easily with this web app.</h3>
        
        <div class="navigation">
            <a th:href="@{/customers}" class="button">Customers</a>
            <a th:href="@{/menu-items}" class="button">Menu Items</a>
            <a th:href="@{/orders}" class="button">Orders</a>
            <a th:href="@{/order-items}" class="button">Order Items</a>
        </div>

        <form th:action="@{/logout}" method="post" style="margin-top: 20px;">
            <button type="submit" class="button logout" style="width: 120px;">Logout</button>
        </form>
    </div>
</body>
</html>
