<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form class="form-container" th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="error-message error">
                Invalid username or password.
            </div>
            <div th:if="${param.unauthorized}" class="error-message error">
                Будь ласка, увійдіть в систему для доступу до цієї сторінки.
            </div>
            <div th:if="${param.logout}" class="success-message">
                You have successfully logged out.
            </div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" 
                   pattern="^[a-zA-Z0-9@_.-]{3,20}$" 
                   title="Username must be 3-20 characters long and can include letters, numbers, @, _, ., or -." 
                   required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" 
                   pattern="^[a-zA-Z0-9@_.-]{3,20}$" 
                   title="Password must be 3-20 characters long and can include letters, numbers, @, _, ., or -." 
                   required />

            <button type="submit" class="button">Login</button>
        </form>
        <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
    </div>
</body>
</html>
